{% extends 'base.html' %}

{% block title %}About Quizzr{% endblock %}

{% block content %}
<br><br><img src="/static/quizzr_logo_whitebg.png" alt="large Quizzr logo" width="200" height="50" class="center-image">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><br>
            <h3>About Quizzr!</h3>
            <p>Quizzr was created by me, Ryan Booker, as one of the capstone projects I had to complete for the <a href="http://springboard.com">Springboard</a>
                software engineering program in which I was enrolled in 2021. I'm a bit of a trivia fanatic (and also one of the country's best competitive crossworders - in the span of a year
                I won my skill division at <a href="https://www.acptonline.com/prizes">the largest</a> and <a href="https://en.wikipedia.org/wiki/Lollapuzzoola#Past_Champions">second-largest</a> tournaments in the U.S.)
                 and, besides participating in several weekly pub trivia nights here in Portland, Oregon, I enjoy writing quizzes for family gatherings and other social
                occasions. However, it can sometimes be difficult to think of 20-30 questions off the top of my head, especially on short notice. Hence this app, which draws upon
                <a href="http://jservice.io/">JService</a>, the Jeopardy! question database (and the single largest trivia API on the internet) to generate quizzes. Many of the questions I "think up"
                for quizzes I write I'm simply recalling from episodes of Jeopardy! anyhow, so this is simply cutting out the middleman (me).
            </p>
            <p>As of this writing, I'm not currently employed as a web developer/software engineer/what-have-you, so if you're hiring, or you work at a company that is hiring and think
                I might make a good co-worker, feel free to contact me at my <a href="https://www.linkedin.com/in/ryan-booker-853901209/">LinkedIn profile</a>. You can also check out the
                code for this project (and others) at my <a href="https://github.com/rbooker">github repository</a>.</p> 
            </p>
        </div>
    </div>
</div>

{% endblock %}