{% extends 'base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-5 text-center">Delete Profile</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <p>If you delete your profile, all your quizzes and questions will be permanently deleted as well.</p>
            <form method="POST" action="/delete">
                <br><br>
                <button class="btn  btn-danger  btn-lg">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}