{% extends 'base.html' %}

{% block title %}Delete Profile{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><h3>Delete My Profile</h3><br>
            <p>If you delete your profile, all your quizzes and questions will be permanently deleted as well.</p>
            <form method="POST" action="/delete">
                <br>
                <button class="btn  btn-danger">Delete Forever</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}