{% extends 'base.html' %}

{% block title %}Edit Question{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-5 text-center">Question ID: {{question.id}}</h1>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="form-group">
                <form method="POST">
                {{ form.hidden_tag() }}

            
                {{form.question.label}}{{form.question(class_="form-control", value=question.question)}}<small class="form-text text-danger">{% for error in form.question.errors %}{{error}}{% endfor %}</small><br>
                {{form.answer.label}}{{form.answer(class_="form-control", value=question.answer)}}<small class="form-text text-danger">{% for error in form.answer.errors %}{{error}}{% endfor %}</small><br>
                {{form.difficulty.label}}
                {% for subfield in form.difficulty %}
                    {% if loop.index == question.difficulty %}
                        {{subfield(class_="form-check-input", checked="checked")}}&nbsp;{{subfield.label(class_="form-check-label")}}
                    {% else %}
                        {{subfield(class_="form-check-input")}}&nbsp;{{subfield.label(class_="form-check-label")}}
                    {% endif %}
                {% endfor %}
                <small class="form-text text-danger">{% for error in form.difficulty.errors %}{{error}}{% endfor %}</small>
                <br><br>
                <button class="btn  btn-success  btn-lg">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}