{% extends 'base.html' %}

{% block title %}Edit Question{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><h2><span class="badge rounded-pill bg-info text-dark">Edit Question: ID {{question.id}}</h2><br>
            <div class="card">
                <div class="card-body">
            <div class="form-group">
                <form method="POST">
                {{ form.hidden_tag() }}

            
                <strong>{{form.question.label}}</strong>:{{form.question(class_="form-control", value=question.question)}}<small class="form-text text-danger">{% for error in form.question.errors %}{{error}}{% endfor %}</small><br>
                <strong>{{form.answer.label}}</strong>:{{form.answer(class_="form-control", value=question.answer)}}<small class="form-text text-danger">{% for error in form.answer.errors %}{{error}}{% endfor %}</small><br>
                <strong>{{form.difficulty.label}}:</strong>&nbsp;&nbsp;
                {% for subfield in form.difficulty %}
                    {% if loop.index == question.difficulty %}
                        {{subfield(class_="form-check-input", checked="checked")}}&nbsp;{{subfield.label(class_="form-check-label")}}
                    {% else %}
                        {{subfield(class_="form-check-input")}}&nbsp;{{subfield.label(class_="form-check-label")}}
                    {% endif %}
                    &nbsp;&nbsp;
                {% endfor %}
                <small class="form-text text-danger">{% for error in form.difficulty.errors %}{{error}}{% endfor %}</small>
                {% if question.category %}<br><br><small><strong>JCategory:</strong> {{question.category}}</small>{% endif %}
                <br><br>
                <button class="btn  btn-primary">Submit</button>
                </form>
            </div>
            </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}