{% extends 'base.html' %}

{% block title %}Frequently Asked Questions{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><br>
            <h3>Frequently Asked Questions</h3><br>
            <div class="card">
                <div class="card-header">
                    <strong>Q.</strong> Are you affiliated with Jeopardy! or JService?
                </div>
                <div class="card-body">
                  <p class="card-text">
                      <strong>A.</strong> No and no. I am a fan of both, however.
                  </p>
                </div>
            </div><br><br>
            <div class="card">
                <div class="card-header">
                    <strong>Q.</strong>Who exactly is this site for?
                </div>
                <div class="card-body">
                <p class="card-text">
                    <strong>A.</strong> If you read the <a href="/about">about</a> page, you'll learn that I made it to aid me in writing quizzes for parties and other
                gatherings. But it's also for anyone else who wants to do the same. My hope, too, is that it'll help sustain independent pub trivia hosts who are suffering
                from question-writing fatigue. I'd hate to see yet another bar's trivia night get outsourced to the Geeks Who Drink empire.</p> 
                </p>
                </div>
            </div><br><br>
            <div class="card">
                <div class="card-header">
                    <strong>Q.</strong>Why can't I add my own category to/edit the category of a question?
                </div>
                <div class="card-body">
                    <p class="card-text">
                        <strong>A.</strong> The reason category information is included with the questions obtained from JService - all of which are taken
                        from episodes of Jeopardy! - is that a lot of them rely upon it for context (this information is even referred to
                        as the "JCategory" - a shortening of "Jeopardy! Category"). This, alongside the fact that the quizzes you create for the site are 
                        organized by round, not category, means it doesn't really make sense to allow users to add a category to a question,
                         or edit a question's JCategory.</p> 
                    </p>
                </div>
            </div><br><br>
            <div class="card">
                <div class="card-header">
                    <strong>Q.</strong>Why aren't there links to edit questions on the Quiz Edit page?
                </div>
                <div class="card-body">
                <p class="card-text">
                <strong>A.</strong>Questions exist independently of quizzes, so if you edit a question, the changes occur to every instance of it. In slightly less technical terms: 
                if you re-write a question that's on multiple quizzes it gets altered on every single one of them. Having the links to edit questions on the Questions page rather than on a particular
                quiz's Quiz Edit page emphasizes this point.</p>
                </p>
                </div>
            </div><br><br>
            <div class="card">
                <div class="card-header">
                    <strong>Q.</strong>Why do my question IDs not start at one/aren't consecutive?
                </div>
                <div class="card-body">
                <p class="card-text">
                <strong>A.</strong>The database stores not just your questions, but the questions of everyone using the site. The ID numbers for questions are assigned sequentially
                in the order they're added to the database, and the first question you store might be the 4,782nd stored by all users. Similarly, if you add some questions, and then, before you
                add any more, other users add 100 questions of their own, the enumeration of the IDs of your questions will contain a one-hundred unit gap.</p>
                </p>
                </div>
            </div><br><br>
        </div>
    </div>
</div>

{% endblock %}