{% extends 'base.html' %}

{% block title %}My Quizzes{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><h2><span class="badge rounded-pill bg-info text-dark">My Quizzes</span></h2><br>
            <div class="card text-center">
                <div class="card-header">
                  &nbsp;
                </div>
                <div class="card-body">
                  <h5 class="card-title">Create a quiz</h5>
                  <p class="card-text">Generate a new quiz with questions retrieved from <a href="http://jservice.io">JService</a>, the online Jeopardy! database.<br>Once it's been
                created, you can come back here to view or edit it.</p>
                  <a href="/quizzes/create" class="btn btn-primary">Go To Make Quiz</a>
                </div>
                <div class="card-footer text-muted">
                  &nbsp;
                </div>
              </div><br>
            {% if not quizzes %}
            <div class="card text-center">
                <div class="card-body">
                    <p class="card-text">You have no saved quizzes</p>
                </div>
            </div>
            {% endif %}
            {% for quiz in quizzes %}
            <div class="card">
                <div class="card-header"><h5>{{quiz.name}}</h5></div>
                <div class="card-body">    
                    <strong>Rounds:</strong> {{quiz.rounds}}<br>
                    <strong>Questions:</strong> {{quiz.questions|length}}<br>
                    <strong>Description:</strong> {{quiz.description}}<br><br>
                    <a href="/quizzes/show/{{quiz.id}}" class="btn btn-primary">View Quiz</a>&nbsp;
                    <a href="/quizzes/edit/{{quiz.id}}" class="btn btn-secondary">Edit Quiz</a>
                    <form style="display:inline" action="/quizzes/delete/{{quiz.id}}" method="POST"><button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteQuiz{{quiz.id}}Modal">Delete Quiz</button>
                    <!-- Delete Quiz Modal -->
                    <div class="modal fade" id="deleteQuiz{{quiz.id}}Modal" tabindex="-1" aria-labelledby="deleteQuiz{{quiz.id}}ModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteQuiz{{quiz.id}}ModalLabel">Delete Quiz?</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                            Do you want to permanently delete this quiz?
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div><br>
            {% endfor %}
        </div><br>
    </div>
</div>

{% endblock %}