{% extends 'base.html' %}

{% block title %}Show Question{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><h2><span class="badge rounded-pill bg-info text-dark">Question: ID {{question.id}}</h2><br>
            <div class="card">
                <ul class="list-group">
                <li class="list-group-item"><br>
                <strong>Question:</strong> {{question.question}}<br>
                <strong>Answer:</strong> {{question.answer}}<br>
                <strong>Difficulty:</strong> {{question.difficulty}}<br><br>
                </li>
                <li class="list-group-item">
                <div class="form-group">
                <form method="POST">
                {{ form.hidden_tag() }}
                {{form.quiz.label}}{{form.quiz(class_="form-select", id="quiz-select")}}<br>
                
                {% for quiz_round in quiz_rounds %}
                <div id="quiz-{{quiz_round[0]}}" data-rounds={{quiz_round[1]}}></div>
                {% endfor %}
                
                {{form.round.label}}{{form.round(class_="form-select", id="round-select")}}<br>

                <button class="btn  btn-primary">Add To Quiz</button></form><br>
                </li>
                </ul>
            </div><br>
            <a href="/questions/show" class="btn btn-success">Back To All Questions</a>  
                <br><br>
            
        </div>
    </div>
</div>
<script src="https://unpkg.com/jquery"></script>
<script src="/static/populate_rounds.js"></script>

{% endblock %}