{% extends 'base.html' %}

{% block title %}Show All Quizzes{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><h2><span class="badge rounded-pill bg-info text-dark">My Quizzes</span></h2><br>
            
            {% for quiz in quizzes %}
            <div class="card">
                <div class="card-header"><h5>{{quiz.name}}</h5></div>
                <div class="card-body">    
                    <strong>Rounds:</strong> {{quiz.rounds}}<br>
                    <strong>Questions:</strong> {{quiz.questions|length}}<br>
                    <strong>Description:</strong> {{quiz.description}}<br><br>
                    <a href="/quizzes/show/{{quiz.id}}" class="btn btn-primary">View Quiz</a>&nbsp;
                    <a href="/quizzes/edit/{{quiz.id}}" class="btn btn-secondary">Edit Quiz</a>
                    <form style="display:inline" action="/quizzes/delete/{{quiz.id}}" method="POST"><button type="submit" class="btn btn-danger">Delete Quiz</button></form>
                </div>
            </div><br>
            {% endfor %}
        </div><br>
    </div>
</div>

{% endblock %}