{% extends 'base-loggedout.html' %}

{% block title %}Sign Up for Quizzr{% endblock %}

{% block content %}
<br><br><img src="/static/quizzr_logo_whitebg.png" alt="large Quizzr logo" width="400" height="100" class="center-image">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br><br>
            <h3>Sign Up For Quizzr!</h3>
            <p>Join Quizzr, the quiz-generating web app powered by <a href="jservice.io">Jservice</a>, the Jeopardy! database that is the largest
                trivia repository on the internet. Create, edit, and store quizzes for pub trivia, parties, or your own personal edification.
            </p>
            <div class="form-group">
                <form method="POST">
                {{ form.hidden_tag() }}
                <p>Passwords must be at least six characters in length.</p>
                {{form.username.label}}{{form.username(class_="form-control")}}<small class="form-text text-danger">{% for error in form.username.errors %}{{error}}{% endfor %}</small><br>
                {{form.password.label}}{{form.password(class_="form-control")}}<small class="form-text text-danger">{% for error in form.password.errors %}{{error}}{% endfor %}</small><br>

                <br>
                <button class="btn  btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}